PORT=3000
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=jluyxk1u
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

DATABASE_URL=postgresql://...
DIRECT_URL=postgresql://...

JWT_SECRET=dtahub-website-secret-2026
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=satish910887@gmail.com
ADMIN_EMAILS=satish910887@gmail.com
